.col-md-8.col-md-offset-2
	%h2 Log in
	=simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
		.form-inputs
			.form-group
				= f.input :email, required: false, autofocus: true, class: "form-control"
			.form-group
				= f.input :password, required: false, class: "form-control"
			.form-group
				= f.input :remember_me, as: (:boolean if devise_mapping.rememberable?), class: "form-control"

		.form-actions
			= f.button :submit, "Log in", class: "btn btn-default pull-right"

	= render "devise/shared/links"
